*{
    padding: 0;
    margin:  0;
}
section{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    height: 100vh;
    width: 100%;
}
.ht{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    height: 100px;
    width: 412px;
    background: none;
    padding: 15px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    color: white;
    background: 
    linear-gradient(45deg,
     pink,skyblue, crimson);
    font-size: 30px;
    height: 100px;
    width: 280px;
    border-radius: 30px;
    box-shadow: 0.5px 0.5px 1em black;
    animation: 2s infinite button;
}

@keyframes button{
    25%{
        background: linear-gradient(45deg, 
        red, chartreuse,teal);
    }
    50%{
        background: linear-gradient(45deg,
         blue, yellow, green);
    }
    75%{
        background: linear-gradient(45deg,
         black, orangered, white);
    }
    100%{
        background: linear-gradient(45deg, 
        #d33b94, darkblue, orange);
    }
}

h2{ font-size: 0;}